
* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

footer {
  bottom: 0;
  color: #eee;
  padding: 20px;
}

body {
  height: 100%;
  /* background-color: #eeeeee; */
  background: linear-gradient(to right, #59c173, #a17fe0, #5d26c1);
  /* background: linear-gradient(0deg, #BCC5CE 0%, rgb(173, 146, 156) 98%),
  radial-gradient(at top left, rgba(250, 180, 180, 0.3) 0%, rgba(255, 0, 0, 0.3) 100%);
  background-blend-mode: screen; */
 /*  background-image: linear-gradient(45deg, #874da2 0%, #c43a30 100%); */
  /* background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%),
  radial-gradient(at top center, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.40) 120%) #989898;
  background-blend-mode: multiply,
  multiply; */
  /* background: linear-gradient(to right, #1f1c18e7, #8e0e00af, #1f1c18e7) */;
}

.navbar-dark, .bg-dark {
  background-color: #222!important;
} 

.shows-page {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  padding: 3em;
  margin-top: 80px;
}

.shows-page h1 {
  align-items: center;
  padding-bottom: 30px;
}

.show-page img {
  padding: 35px;
}

.icon-show {
  margin: 1em 3em 0 0;
}

.topright {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

.topright p {
  margin:  8px;
  position: absolute;
  z-index: 1;
  color: #222;
}

.topright i {
  position: relative;
}

.serie img {
  box-shadow: 5px 5px 10px -1px rgba(0,0,0,0.75);
}

.serie:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  border-top: 4px solid rgba(192, 0, 0, 1);
  border-bottom: 4px solid rgba(192, 0, 0, 1);
  transform: scaleX(0);
  transition: 0.5s;
}

.serie:hover:before {
  transform: scaleX(1);
}


.serie:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  border-right: 4px solid #222;
  border-left: 4px solid #222;
  transform: scaleY(0);
  transition: 0.5s;
}

.serie:hover:after {
  transform: scaleY(1);
}

.serie {
  position: relative;
  cursor: pointer;
  margin: 25px;
}

.fa-star {
  position: relative;
  color: #e4bb24;
  font-size: 2.3em;
}

.actor {
  width: 200px;
  margin: 10px;
}
.actor img {
  width: 60px;
  margin-right: 10px
}

.actor p {
  margin-bottom: 0;
}

.form-inline .form-control {
  width: 300px;
}

.episodios {
  margin-top: 20px;
}

.scrollToTop {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  background: rgba(192, 0, 0, 1);
  color: #222;
  font-size: 2em;
  display: none;
}

.scrollToTop:hover {
  background: #222;
  color: rgba(192, 0, 0, 1);
}

.btn-outline-danger {
  background-color: rgba(192, 0, 0, 1);
  color: #ccc;
}

.btn-outline-danger:hover {
  color: #ccc;
}

.search-show:focus {
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  width: 380px;
  transition: all .3s;
}

.btn-search i {
  transition: all .5s;
}

.btn-search i:hover {
  transform: rotate(100deg);
  transform-origin: center;
}

.search-show, .btn-search {
  box-shadow: 5px 5px 10px -1px rgba(0, 0, 0, 0.75);
  border-radius: 50px;
}


.btn-search {
  position: relative;
  right: 42px;
}

.navbar span {
  font-family: 'Dancing Script', cursive;
  font-size: 1.5em;
}

.modal {
  top: 100px;
}

.modal-header {
  color: #eee;
}

.page-item button {
  color: #222;
  font-weight: bold;
}